@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/966315.png');
    background-size: cover;
}

input[type="radio" i] {
    background-color: initial;
    appearance: auto;
    box-sizing: border-box;
}

.jogo-velha input[type="radio"] {
    display: none;
}

.jogo-velha {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.jogo-velha label {
    width: 90px;
    height: 90px;
    background-color: blueviolet;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.jogo-velha label::after {
    opacity: 0;
    position: absolute;
}

.jogo-velha label:hover {
    background-color: rgb(90, 6, 169);
}

/*jogadores*/

input[type="radio"].jogador-1 + label::after{
    content: "X";
    color: white;
    opacity: 0;

}

input[type="radio"].jogador-1:hover + label::after {
    opacity: 1;
}


.jogo-velha input[type="radio"].jogador-1:checked + label {
    background-color: brown;
    
}

input[type="radio"].jogador-1:checked + label::after {
    opacity: 1;
}

input[type="radio"].jogador-2 + label::after{
    content: "O";
    color: white;
    opacity: 0;
}

.jogo-velha input[type="radio"].jogador-2:checked + label {
    background-color: darkcyan;
    
}

input[type="radio"].jogador-2:hover + label::after {
    opacity: 1;
}

input[type="radio"].jogador-2:checked + label::after {
    opacity: 1;
}

/*bloquinhos-1*/

input[type="radio"]#bloco1-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco1-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco1-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco1-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco1-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco1-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco1-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco1-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco1-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-2*/

input[type="radio"]#bloco2-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco2-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco2-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco2-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco2-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco2-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco2-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco2-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco2-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-3*/

input[type="radio"]#bloco3-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco3-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco3-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco3-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco3-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco3-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco3-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco3-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco3-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-4*/

input[type="radio"]#bloco4-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco4-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco4-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco4-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco4-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco4-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco4-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco4-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco4-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-5*/

input[type="radio"]#bloco5-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco5-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco5-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco5-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco5-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco5-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco5-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco5-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco5-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-6*/

input[type="radio"]#bloco6-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco6-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco6-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco6-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco6-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco6-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco6-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco6-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco6-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-7*/

input[type="radio"]#bloco7-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco7-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco7-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco7-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco7-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco7-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco7-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco7-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco7-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-8*/

input[type="radio"]#bloco8-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco8-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco8-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco8-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco8-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco8-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco8-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco8-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco8-C3 + label{
    top: 210px;
    left: 210px;
}

/*bloquinhos-9*/

input[type="radio"]#bloco9-A1 + label {
    top: 0;
    left: 0;
}
input[type="radio"]#bloco9-A2 + label {
    top: 0;
    left: 105px;
}
input[type="radio"]#bloco9-A3 + label {
    top: 0;
    left: 210px;
}
input[type="radio"]#bloco9-B1 + label {
    top: 105px;
    left: 0;
}
input[type="radio"]#bloco9-B2 + label{
    top: 105px;
    left: 105px;
}
input[type="radio"]#bloco9-B3 + label{
    top: 105px;
    left: 210px;
}
input[type="radio"]#bloco9-C1 + label{
    top: 210px;
    left: 0;
}
input[type="radio"]#bloco9-C2 + label{
    top: 210px;
    left: 105px;
}
input[type="radio"]#bloco9-C3 + label{
    top: 210px;
    left: 210px;
}

/*rodadas*/

.jogo-velha input[type="radio"]:checked + label {
    cursor: default;
    z-index: 10 !important;
    border-radius: 50%;
}

.jogo-velha input[type="radio"].rodada-1 + label{
    display: block;
    z-index: 1;
}

.jogo-velha input[type="radio"].rodada-1:checked ~ .rodada-2 + label {
    display: block;
}

.jogo-velha input[type="radio"].rodada-2 + label{
    z-index: 2;
}

.jogo-velha input[type="radio"].rodada-2:checked ~ .rodada-3 + label {
    display: block;
}

.jogo-velha input[type="radio"].rodada-3 + label{
    z-index: 3;
}

.jogo-velha input[type="radio"].rodada-3:checked ~ .rodada-4 + label {
    display: block;
}

.jogo-velha input[type="radio"].rodada-3 + label{
    z-index: 4;
}

.jogo-velha input[type="radio"].rodada-4:checked ~ .rodada-5 + label {
    display: block;
}

.jogo-velha input[type="radio"].rodada-3 + label{
    z-index: 5;
}

.jogo-velha input[type="radio"].rodada-3 + label{
    z-index: 6;
}

.jogo-velha input[type="radio"].rodada-3 + label{
    z-index: 7;
}

.jogo-velha input[type="radio"].rodada-3 + label{
    z-index: 8;
}

.jogo-velha input[type="radio"].rodada-3 + label{
    z-index: 9 ;
}













