@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/1224149.png');
    background-size: cover;
}

input[type=checkbox i] {
   
}

.nota {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bloco {
    width: 30px;
    height: 30px;
    border: solid 3px rgb(194, 19, 210);
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

input[type=checkbox]:checked + label .check {
    display: block;
}

.check {
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 30px;
    bottom: 5px;
    display: none;
}

.risco {

}

div.bloco-notas{
    width: 330px;
    height: 260px;
    background-color: rgb(254, 227, 192);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

.item-nota {
    width: 100%;
    display: flex;
    align-items: center;
}

.item-nota label {
    margin-left: 20px;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: black;
}