@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    background-image: url('img/1164606.png');
    background-size: cover;
    background-position: bottom center;
}

h1 {
    margin-top: 30px;
    font-weight:300;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50%;
}

ul {
    margin-left: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    width: 60px;
    display: flex;
    align-items: center;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}

li svg {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: black;
    display: none;
    padding: 0px 10px;
    
}

li:hover {
    width: 130px;
    
}

li:hover a {
    display: block;
    opacity: .8;
}


